@import '../../css/variables';

#bigScreenMenu{}

.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 30px 60px;
  height: 100%;

  .logo {
    object-fit: contain;
    max-width: 300px;
    height: fit-content;
  }
}

.nav {
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: 40%;
  color: white;

  a {
    text-decoration: none;
    color: $white-color;
    font-size: $links-and-cta-font-size;
  }

  li {
    font-family: $title-font-family;
    display: inline-block;
    padding-bottom:2px;
    background-image: linear-gradient(#fff, #fff);
    background-position: 0 100%;
    background-size: 0 2px;
    background-repeat: no-repeat;
    transition: ease 0.4s;

  }

  li:hover {
    cursor: pointer;
    background-position: 100% 100%;
    background-size: 100% 2px;
  }
}

@media (max-width: $md-screen) {
  #bigScreenMenu {
    display: none;
  }

  .container {
    justify-content: center;
    align-items: center;
  }

  .logo {
    max-width: 300px;
    object-fit: contain;
  }
}
