@import "../../css/variables";

.gallery-wrapper {
  padding: 20px 0;
  position: relative;
  width: 100%;
}

.images-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0;
  padding: 60px 0;
  transition:all 0.3s ease-out;
}

.gallery-container {
  border: solid;
  margin: 20px 0;
}

.gallery-slide {
  width: 30%;

  .gallery-image {
    height: 100%;
    width: 100%;
    transition: all 1s;
  }

  .gallery-image:hover {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }
}

.gallery-image:hover {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.gray-background {
  position: absolute;
  width: 90%;
  height: 100%;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  background-color: grey;
  z-index: -1;
}

.all-projects-cta {
  text-align: center;
}

.gallery-overlay-helper {
  width: 90%;
  margin: auto;
}