@import "../../css/variables";

.tile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: $sections-background-color;
  padding: 3% 5%;
}

.section-title {
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}