@import '../../css/variables';
@import '../../css/helpers';

.tile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: $sections-background-color;
  padding: 7% 0;
}

.section-title {
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

.about-content-wrapper {
  padding: 2% 11%;
}

.team-tile {
  @include team_tile_container;
  padding: 0 6rem;

  .team-picture {
    height: 35vh;
    width: 32vw;
  }

  .teams-text-wrapper {
    margin: 3% 0;

    h2 { margin-bottom: 4%}
  }
}

.member-tile {
  width: 38%;
  padding: 0 8%;
  margin-bottom: 5rem;

  img {
    height: 13rem;
  }

  .text-wrapper {
    margin: 10% 0;
    width: 100%;
    line-height: 2.5rem;
  }

  .tile-link {
    margin: 6% 0;
    width: 100%;
  }
}

@media (min-width: $md-screen) {
  .team-tile:nth-child(even) {
    .text-wrapper, .tile-link { text-align: right }
  }
}

@media (max-width: $xs-screen) {
  .member-tile { width: 100%; }
  .team-tile {
    background: linear-gradient(0, #ffffff 90%, #00ffff00 50%);
    padding: 0 3rem;
  }
}