@import '../../css/variables';
@import '../../css/helpers';

.tile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: $sections-background-color;
  padding-top: 10%;
}

.section-title { margin-bottom: 5%; }

.about-content-wrapper { padding: 2% 11%; }

.team-tile {
  @include team_tile_container;
  padding: 0 8%;

  .team-picture {
    height: 40vh;
    width: 32vw;
  }

  .teams-text-wrapper {
    margin: 3% 0;

    .about-text-wrapper {
      border-top: 2px solid $basic-font-color;
      border-bottom: 2px solid $basic-font-color;
      padding: 4% 0;
      display: flex;

      .about-paragraphs {
        width: 48%;
        margin-right: 2%;
      }

      .about-quote {
        width: 48%;
        padding-top: 10%;
        margin-left: 2%;

        .quote-text {
          font-weight: bold;
        }

        .quote-name {
          font-family: $text-font-family;
        }
      }
    }

    h2 { margin: 10% 0; }

    p { margin-bottom: 5%}
  }
}

.member-tile {
  width: 31%;
  padding: 0 5%;
  margin-bottom: 30%;

  img { height: 13rem; }

  .text-wrapper {
    margin: 10% 0 0 0;
    width: 100%;
    line-height: 2.5rem;
  }

  .tile-link {
    margin: 6% 0;
    width: 100%;
  }
}

.team-link { margin-bottom: 2%; }

@media (min-width: $md-screen) {
  .about-content-wrapper {
    padding: 5% 11%;
  }

  .team-tile:nth-child(2) {
    .text-wrapper, .tile-link {
      text-align: center;
    }
  }

  .team-tile:nth-child(3) {
    .text-wrapper, .tile-link { text-align: right; }
  }

  .team-tile {
    .teams-text-wrapper {
      h2 { margin: 5% 0; }
    }
  }

  .member-tile {
    margin-bottom: 0;
  }
}

@media (max-width: $xs-screen) {
  .full-team { margin: 20% 0 }
  .tile-container { padding-top: 10% }
  .member-tile { width: 100%; }
  .team-tile {
    background: linear-gradient(0, #ffffff 85%, #00ffff00 50%);
    padding: 0 10%;

    .team-picture {
      height: 26vh;
      width: 50vw;
    }
  }
}