@import '../../../css/variables';

.container {
  background-color: $sections-background-color;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  padding: 10% 0;

  .profile_image {
    width: 15em;
    height: 15em;
    margin-bottom: 1%;
    object-fit: cover;
    object-position: 50% 50%;
  }
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(0, $white-color calc(100% - 10em), #00ffff00 0);
  width: 86%;
  height: 85%;
  padding: 5% 10%;

  .name { margin: 10% 0; }
}

.arrow_link {
  width: 5%;

  .image {
    z-index: 2;
    position: relative;
  }
  &:hover {
    cursor: pointer;
  }
}
.right { transform: rotate(180deg); }

.back_link {
  position: absolute;
  top: 2%;
  right: 2%;
  height: 7%;
  width: 7%;
  display: flex;
  &:hover { cursor: pointer; }
}

.description {
  overflow: scroll;
  p { margin: 10px 0 }
}

@media (max-width: $md-screen) {
  .description { display: none }
  .back_link {
    top: 10px;
    right: 4%;
  }

  .arrow_link.right { left: 89%; }

  .arrow_link {
    position: fixed;
    bottom: 50vh;
    left: 1%;
    width: 10%;
    z-index: 1;
  }

  .description-wrapper {
    display: initial;
  }
}

@media (min-width: $md-screen) {
  .container {
    height: 100vh;
    padding: 0;

    .profile_image {
      width: 16em;
      height: 16em;
    }
  }

  .content {
    background: linear-gradient(0, $white-color 74%, #00ffff00 50%);
    padding: 0 5%;

    .name { margin: 0 0 2% 0; }
  }
}
