@import '../../../css/variables';

.container { display: none; }
.mobile_carousel_container{}
.sliders{}
.about-paragraphs{}
.about-quote{}
.arrow{}
.back{}
.slider-wrapper{}
.next{}

@media (max-width: $md-screen) {
  .container {
    display: initial;
    padding: 5% 0;
    position: relative;
    height: 39vh;
    width: 100%;
    z-index: 2;
  }

  .mobile_carousel_container {
    display: initial;
    position: absolute;
    height: 100%;
    width: 100%;
  }

  .sliders {
    height: 100%;
  }

  .slider_wrapper {
    height: 100%;
  }

  .paragraphs ,.quote_container { display: none; }

  .arrow {
    background: none;
    border: none;
    position: absolute;
    bottom: 10%;
    height: 20px;
    width: 40px;
    z-index: 1;
  }

  .arrow[disabled] { display: none; }

  .back {
    transform: rotate(180deg);
    left: 0;
    bottom: 3.5%;
  }

  .next { right: 0; }

  .arrow, .slider-wrapper:focus { outline: none; }

}