@import "../../../css/variables";
@import "../../../css/helpers";

.project-details-container {
  background: linear-gradient(90deg, $sections-background-color 32%, #00ffff00 32%);
  height: 100vh;
  padding: 2% 5%;
  display: flex;
}

.details-wrapper {
  position: relative;
}

.project-details-content {
  width: 85%;
  display: flex;
  position: relative;
  margin-left: auto;
}

.grey-color-container {
  width: 60%;
  overflow: hidden;
}

.image-container {
  position:relative;
  display:inline-block;
  z-index: 1;
}
.image-grey {
  display:block;
  -webkit-filter: grayscale(100%);
}

.image-container:after {
  position:absolute;
  content: "";
  top:0;
  left:50%;
  width:50%;
  height: 100%;
  background-position: top right;
  background-size: cover;
}


.details-content {
  display: flex;
  padding: 1% 0;
  height: 90%;
}

.project-details-wrapper {
  position: relative;
}

img {
  width: 100%;
  height: 100%;
}

.details-black-border {
  border: solid;
  position: absolute;
  width: 60%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 0;
}

.details-container {
  display: flex;
  flex-direction: column;
  padding: 0 3%;
  width: 40%;
  justify-content: space-between;

  h1 {
    font-family: $title-font-family;
    font-size: clamp(100%, 8vw, 45px);
  }

  h3 {
    font-family: $text-font-family;
    font-size: clamp(100%, 2vw, 16px);
  }
}

.ReactGridGallery_tile {
  width: 30%;
}

.ReactGridGallery_tile-viewport {
  height: Rem(120px) !important;
  width: 100% !important;

  img {
    height: 100% !important;
    width: 100% !important;
    margin: 0 !important;
  }
}

.project-details-back-arrow {
  font-family: $title-font-family;
  font-size: Rem(22px);
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.project-details-back-arrow:hover{
  text-decoration: underline;
}

.details-container-description{
  margin-top: 2rem;
  font-family: Arial sans-serif;

  .details-item { margin: 1rem 0; }
  strong { font-family: $gotham-bold }
}

.gallery {
  height: 40vh;
  overflow-y: scroll;
  z-index: 1;
}

@media (max-width: $xs-screen) {
  .project-details-container {
    background: linear-gradient(180deg, #E4E4E3 20%, #00ffff00 20%);
    padding: 15% 6%;
  }

  .grey-color-container { overflow: visible; }

  .project-details-wrapper {
    height: 85vh;
    padding-top: 5%;
  }

  .details-content {
    flex-direction: column;
    align-items: center;
  }

  .details-black-border { width: 100%; }

  .project-details-back-arrow {
    display: flex;
    justify-content: center;
    margin: 5% 0;
    position: relative;
    z-index: 100;
  }

  .details-container { width: 90%; }

  .image-container { width: 100%; }

  .image-grey { -webkit-filter: grayscale(0); }

  .ReactGridGallery_tile-viewport { height: 11vh !important; }
}
