@import "../../css/variables";

.contact-container {
  position: relative;
  padding: 20px 0;
}

.contact-content {
  background-color: $sections-background-color;
  margin: 1rem 0;

  .contact-item {
    text-align: center;
    font-family: $text-font-family;
    font-size: 1.5rem;
    padding: 0.7rem 0;
  }
}

.contact-black-border {
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  border: solid;
  margin: auto;
}