@import '../../css/variables';

.header-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 30px 60px;
}

.nav-menu {
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: 40%;
  color: white;

  li {
    font-family: $title-font-family;
  }

  li:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

@media (max-width: $xs-screen) {
  #big-screen-menu {
    display: none;
  }

  .header-wrapper {
    flex-direction: column-reverse;
  }
}