@import 'variables.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-family: $title-font-family;
  text-align: center;
  font-size: clamp(40px, 10vw, 60px);
}

h2 {
  font-family: $gotham-bold;
  font-size: clamp(20px, 6vw, 30px);
}

h5 {
  font-family: $gotham-bold;
  font-size: clamp(12px, 3vw, 18px);
}

h6 {
  font-family: $text-font-family;
  font-size: clamp(12px, 3vw, 18px);
  font-weight: 400;
}

p {
  font-family: $text-font-family;
}

a {
  text-decoration: none;
  color: $basic-font-color;
  font-family: $title-font-family;

  &:hover {
    text-decoration: underline;
  }
}

img {
  object-fit: cover;
  object-position: 50% 50%;
}

.black-border {
  border: solid 2px $sections-border-color;
}

.large-section-container {
  width: $large-section-container;

  @media (max-width: $xs-screen) {
    width: 100vw;
  }
}

.section-container {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  overflow-x: hidden;
  margin: 5% auto;
  padding: 0 5%;

  @media (max-width: $xs-screen) {
    width: 100vw;
  }
}
