@import "variables.scss";

* {
  box-sizing: border-box;
}

.black-border {
  border: solid 2px $sections-border-color;
}

.large-section-container {
  width: $large-section-container;
}

.section-title {
  text-align: center;
}