@import '../../../css/variables';

.profile-page {
  background-color: $sections-background-color;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  padding: 10% 0;

  .profile-image {
    width: 15em;
    height: 15em;
    margin-bottom: 1%;
  }
}

.profile-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(0, $white-color calc(100% - 10em), #00ffff00 0);
  width: 86%;
  height: 85%;
  padding: 5% 10%;

  .profile-name-text { margin: 10% 0; }
}

.arrow-link {
  width: 5%;

  .image {
    z-index: 2;
    position: relative;
  }
}
.right { transform: rotate(180deg); }

.back-x-link {
  position: absolute;
  top: 2%;
  right: 2%;
  height: 7%;
  width: 7%;

  .back-x {
    position: relative;
    z-index: 2;
  }
}

.description-wrapper {
  p { margin: 10px 0 }
}

@media (max-width: $md-screen) {
  .back-x-link {
    position: absolute;
    top: 0;
    right: 4%;
    height: 7%;
    width: 9%;
  }

  .arrow-link.right { left: 89%; }

  .arrow-link {
    position: fixed;
    bottom: 50vh;
    left: 1%;
    width: 10%;
    z-index: 1;
  }
}

@media (min-width: $md-screen) {

  .profile-page {
    height: 100vh;
    padding: 0;

    .profile-image {
      width: 16em;
      height: 16em;
    }
  }

  .profile-wrapper {
    background: linear-gradient(0, $white-color 74%, #00ffff00 50%);
    padding: 0 5%;

    .profile-name-text { margin: 0 0 2% 0; }
  }
}
