@import "../../../css/variables";
@import "../../../css/helpers";

.tile-wrapper {
  width: 50%;
  position: relative;
  padding: 10px 30px;
}

.tide-content-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(0, #ffffff 74%, #00ffff00 50%);

  img {
    width: Rem(150px);
    height: Rem(150px);
  }
}