@import "../../../css/variables";
@import "../../../css/helpers";

.tile-wrapper {
  width: 50%;
  position: relative;
  padding: Rem(10px) Rem(70px);
  margin-bottom: Rem(50px);
}

.tide-content-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(0, #ffffff 74%, #00ffff00 50%);

  img {
    width: Rem(200px);
    height: Rem(200px);
  }
}

.text-wrapper {
  width: Rem(200px);
  margin-bottom: Rem(30px);
}

.tile-text {
  font-family: $text-font-family;
}