@import "../../css/variables";

.section-container {
  display: flex;
  flex-direction: column;
  margin: Rem(40px) auto;
  width: $large-section-container;
}

.section-content-wrapper {
  position: relative;
  width: 100%;
}

.gray-background {
  position: absolute;
  width: 90%;
  height: 100%;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  background-color: $sections-background-color;
}

.content-container {
  border: solid;
  margin: Rem(20px) 0;
  position: relative;
}

.content {
  width: 90%;
  margin: auto;
}